<h2>Add an animal</h2>

<form action="/animals" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <label for="type">Type</label>
  <input id="type" name="type" type="text">

  <label for="breed">Breed</label>
  <input id="breed" name="breed" type="text">

  <label for="sex">Sex</label>
  <input id="sex" name="sex" type="text">
  
  <label for='date'>Date of Admittance</label>
  <input id='date' name='date' type='date'>



  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/animals">Back to animals.</a></p>